includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Unsafe usage of new static#'

